[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStart=/usr/bin/emacs --no-site-file --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment="PATH=%h/.juliaup/bin:%h/.local/bin:%h/bin:/usr/local/bin:/usr/bin"
Restart=on-failure

[Install]
WantedBy=default.target