[Desktop Entry]
Name=Emacs (Client)
Exec=emacsclient --alternate-editor="" --create-frame %F
Icon=emacs
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=Emacs